<!DOCTYPE html>
<html>
    <head>
        <title>Services</title>
    </head>
</html>
<body>
    <div class="container" style="text-align: center">
        {% include 'navbar.html' %}

        <h1>The services we provide</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus id maiores dignissimos unde inventore laboriosam esse ducimus aperiam magnam, temporibus beatae aspernatur sed a debitis nulla, alias magni consequuntur cupiditate tempore blanditiis culpa? Mollitia illum, magni voluptates minus perferendis doloremque maiores qui nihil quibusdam commodi dolorem impedit beatae exercitationem totam?</p>
        <button>Contact us</button>
    </div>
</body>